/* ........common styles and utilities.......  */
*{
    box-sizing: border-box;
} 
body{
    margin: 0;
    padding: 0;
    background-color: #e7e5e5
    
}
/* ...........fonts..........  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
/* .......top banner styles below.......  */
.top-banner{
    background-color: #2D25A0;
    background-repeat: no-repeat; 
}
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 156px;
    padding-right: 123px;
}
/* ..........navbar.........  */
.navbar ul{
     list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}
.navbar ul li{
    padding-right: 36px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/* .......logo........  */
 .logo{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    background-color: #E02C6D;
}
.logo img{
    width: 24px;
    height: 24px;
} 
/* .........banner part style........  */
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 67px;
    padding-bottom: 86px;
    
}
.banner img{
    width: 556px;
    height: 438px;
    transition: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: .5s;
} 
.banner img:hover{
    transform: scale(.5) rotate(-380deg);
}

.banner-text h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}

.watch-button{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    height: 44px;
    width: 168px;
    transition-property: width;
    transition-duration: 2s;
    transition-delay: .5s;
}
.watch-button:hover{
    width: 268px;
    background-color: #56a025;
}
.watch-button .arrow{
    padding-left: 8px;
}
/* ..........players css styles below......... */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1080px;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    margin-top: 70px;
    margin-bottom: 70px;

}
.player{
    width: 330px;
    height: 450px;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px 5px  gray;
    
    
}
.player-thumbnail img{
    width: 300px;
    height: 256px;
}
.player-detail h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 900;
}
.player-detail p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
/* ......... highlight session styles.........  */
.all-highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.all-highlight img{
    width: 567px;
    height: 427px;
}
.highlight-text{
    width: 469px;
    background-color: #E7E5E5;
    box-shadow: 5px 5px 20px 0px gray;
}
.highlight-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    line-height: 60px;
   
}
.highlight-text p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* .................matches highlights................  */
.copa-amrerica{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}
.container #align-center{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 80px;
}
.matches-highlight{
    width: 330px;
    height: 450px;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 20px 5px  gray;

}
.video{
    width: 300px;
    height: 256px;
}
/* .........footer section styles below.........  */
.footer-part{
    margin-top: 150px;
    margin-bottom: 75px;
    width: 484px;
    height: 213px;
}
.football-image img{
    height: 67px;
    width: 484px;
    display: block;
}
.social-icon ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;


}
.social-icon ul li{
    list-style: none;
    padding: 14px;
    align-items: center;
    margin-left: 0;

}
.social-icon ul li a{
    text-decoration: none;
   font-size: 28px;
   text-align: center;
   font-weight: 700;
   color: #18191F;
   
}
.footer{
   display: block;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   color: #000000;
}
/* ...........media query..........  */
/* ..........for mobile devices...........  */
@media only screen and (max-width:688px) {
    .container{
        width: 90%;
        margin: auto;
        justify-content: center;
    }
    .all-highlight img{
        width: 400px;
        height: 300px;
    }
    .header-part, .navbar, .logo{
        display: none;
    }

    .banner,
    .players,
    .all-highlight,
    .copa-amrerica{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .players,
    .all-highlight,
    .copa-amrerica{
       width: 60%;
       margin-top: 0px;
       margin-left: 15px;
       margin-right: 0px;
       padding-left: 10px;
    }
    .banner{
        width: 50%;
        padding-top: 0;
        margin-left: 10;
        margin-right: 15;
    }

.banner-text h1 {
  font-size: 36px;
  line-height: 50px;
}
.banner img{
    width: 300px;
    margin-top: 30px;
    margin-right: 50px;
} 
.players {
    margin-bottom: 36px;
  }
  .highlight-text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .all-highlight img{
   margin-top: 30px;
}
.matches-highlight{
    margin-top: 30px;
}
footer {
    margin-top: 45px;
    margin-bottom: 90px;
  }
  .logo {
    width: 275px;
    height: 63px;
    padding-bottom: 20px;
  }
  .container #align-center{
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 80px;
}
.highlight-text{
    margin-left: 25px;
    width: 329px;
    background-color: #E7E5E5;
    box-shadow: 5px 5px 20px 0px gray;
}
.highlight-text h1{
    font-size: 28px;
    font-weight: 500;
    color: #0A0826;
    line-height: 40px;
   
}

}
